* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F91944;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

img,
input,
form {
  width: 100%;
}

input,
button {
  outline: 0;
}

/* Commonly used class */

.section-title {
  font-family: 'Playball', cursive;
  font-size: 30px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 5px;
}
.section-subtitle{
  text-align: center;
}



.btn {
  padding: 13px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-rounded {
  border-radius: 30px;
}